::-webkit-scrollbar {
  width: 26px;
  }

::-webkit-scrollbar-track-piece {
	background-image: url(../../Changhua/track.png);
	background-repeat:no-repeat;
	background-position:center center;
  }

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-image: url(../../Changhua/scroll.png);
	background-repeat:no-repeat;
	background-position:top center;
 }

::-webkit-scrollbar-thumb:horizontal {
	background-image: url(../../Changhua/scroll.png);
	background-repeat:no-repeat;

}

#content_all{
	float:left;
	width: 700px;
	height: 960px;	
	position:relative;
	top:20px;
	border:1px solid #000;
	border-radius:15px;


}

.content_scroll{
	float:left;
 	width: 680px;
	height: 940px;	
	position:relative;
 	overflow-x:hidden;
	overflow-y:scroll;
}

#title{
	padding-top:20px;
	padding-left:50px;
	width:200px;
	height:70px;
	background-repeat:no-repeat;
}

 #content{
	padding-top:10px;
	padding-left:10px;
	padding-right:90px;
	margin-right:70px;

}

#url_title{
	margin-top:40px;
	margin-left:40px;
	font-size:18pt;
	color:#191970;
} 
#url{
	background-image: url(../../Changhua/brush_g1.png);
	background-repeat:no-repeat;
	margin-top:5px;
	margin-left:50px;
	font-size:16pt;
	color:#458B00;
}

#people
{
	width:150px;
	height:102px;
	background-image: url(../../Changhua/5_pic.png);
	background-repeat:no-repeat;
	float:right;
	position:relative;
	right:10px;
	top:200px;
}
