::-webkit-scrollbar {
  width: 26px;
  }

::-webkit-scrollbar-track-piece {
	background-image: url(../../Changhua/track.png);
	background-repeat:no-repeat;
	background-position:center center;
  }

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-image: url(../../Changhua/scroll.png);
	background-repeat:no-repeat;
	background-position:top center;
 }

::-webkit-scrollbar-thumb:horizontal {
	background-image: url(../../Changhua/scroll.png);
	background-repeat:no-repeat;

}

#content_all{
	float:left;
	width: 700px;
	height: 960px;	
	position:relative;
	top:20px;
	border:1px solid #000;
	border-radius:15px;


}

.content_scroll{
	float:left;
 	width: 680px;
	height: 940px;	
	position:relative;
 	overflow-x:hidden;
	overflow-y:scroll;
}

#title{
	padding-top:20px;
	padding-left:50px;
	width:200px;
	height:70px;
	background-repeat:no-repeat;
}

 #content{
	padding-top:10px;
	padding-left:30px;
	padding-right:90px;

}

#pic{
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;

} 

/* 史丹利 */
#people1{
	float:right;
	width: 152px;
	height: 141px;
	position:relative;
	top:20px;
	right:170px;
	
}

/* 貴婦奈奈 */
#people2{
	float:right;
	width: 179px;
	height: 178px;
	position:relative;
	top:140px;
	left:150px;
}

/* 路人 */
#people3{
	float:right;
	width: 150px;
	height: 102px;	
	position:relative;
	bottom:70px;
	left:30px;
}

/* 小熊 */
#people4{
	float:right;
	width: 146px;
	height: 157px;
	position:relative;
	bottom:100px;
	left:20px;
}

/* 蛙大 */
#people5{
	float:right;
	width: 149px;
	height: 173px;
	position:relative;
	top:65px;
	right:220px;
}

