<div id="content_all">
	<a name="page_top"></a>
	<div class="content_scroll">
		<div id="title"><img src="../../Changhua/cata/life.png"></div>
		<div id="content">
		<% for (var i in value.list){ item =value.list[i]; 
		if(item.isPublic==1){%>
		<div class='item'>
			<a href='life_buy/<%=item.ngID %>?ngID=<%=item.ngID %>#page_top'><div class='item_pic'>
			<% if(item.iconURI!=null){%>
			<img src='/images/<%=item.ngID %>?path=<%=item.iconURI %>&maxw=145'>
			<%}else{%>
			<img src='../../Changhua/yahoo_null.jpg'>
			<%}%>
			</div><div class='item_title'><%=item.title %></div></a>
		</div>
		<% }}%>
		</div>
	</div>	
</div>