::-webkit-scrollbar {
  width: 26px;
  }

::-webkit-scrollbar-track-piece {
	background-image: url(../../Changhua/track.png);
	background-repeat:no-repeat;
	background-position:center center;
  }

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-image: url(../../Changhua/scroll.png);
	background-repeat:no-repeat;
	background-position:top center;
 }

::-webkit-scrollbar-thumb:horizontal {
	background-image: url(../../Changhua/scroll.png);
	background-repeat:no-repeat;

}

#content_all{
	float:left;
	width: 700px;
	height: 960px;	
	position:relative;
	top:20px;
	border:1px solid #000;
	border-radius:15px;


}

.content_scroll{
	float:left;
 	width: 680px;
	height: 940px;	
	position:relative;
 	overflow-x:hidden;
	overflow-y:scroll;
}

#title{
	padding-top:40px;
	padding-left:50px;
	width:400px;
	height:70px;
	background-image:url('../../Changhua/line.png');
	background-position:35px 35px;
	background-repeat:no-repeat;
	font-size:16pt;
	font-weight:bold;
}

 #content{
	padding-top:10px;
	padding-left:20px;
	padding-right:10px;

} 

.item{
	float:left;
	width:620px;
	padding-left:10px;


}

.item_pic {
	float:right;
	width:270px;
	height:270px;
	text-align:center;
	position:relative;
	bottom:30px;

}

.item_pic img{
	width:270px;
	height:270px;
	border-radius: 50%;	
    border:3px solid #fff;
	margin-top:60px;
	

}

.item_back {
	float:left;
	width:320px;
	position:relative;
	top:50px;
	left:20px;
}

.item_buy {
	float:right;
	width:152px;
	position:relative;
	top:30px;
	right:40px;
	text-align:center;
}
.click
{
	width:152px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:5px;
	background-color:#CDB38B;
	color:#fff;
	position:relative;
	font-size:14pt;
}
.item_content {
	float:left;
	width:320px;
	padding-top:35px;
	padding-left:10px;
}