
<div id='menus'>
	<div class="cata_master" id="cata1" onclick="<%=ctrl%>.toggleMenu('m1');<%=ctrl%>.bg('cata1');"><a href="javascript:void(0);"><img src ='../../Changhua/cata/icon1.png'><img src ='../../Changhua/cata/sub1.png'></a>
	</div>
	<div class="cata_sub" id="m1">
		<div class="one" id="sub_cata">
			<div class="item"><a href="../about#page_top"><img src ='../../Changhua/cata/indroduce.png'></a><div class="under"></div></div>
			<div class="item"><a href="../about#page_top"><img src ='../../Changhua/cata/indroduce.png'></a><div class="under"></div></div>
			
		</div>		
	</div>
	
	<div class="cata_master" id="cata2" onclick="<%=ctrl%>.toggleMenu('m2');<%=ctrl%>.bg('cata2');"><a href="javascript:void(0);"><img src ='../../Changhua/cata/icon2.png'><img src ='../../Changhua/cata/sub5.png'></a>
	</div>
	<div class="cata_sub" id="m2">
		<div class="one" id="sub_cata">
			<div class="item"><a href="../news#page_top"><img src ='../../Changhua/cata/news.png'></a><div class="under"></div></div>
		</div>
	</div>
	
	
	<div class="cata_master" id="cata3" onclick="<%=ctrl%>.toggleMenu('m3');<%=ctrl%>.bg('cata3')"><a href="javascript:void(0);"><img src ='../../Changhua/cata/icon3.png'><img src ='../../Changhua/cata/sub3.png'></a>
	</div>
	<div class="cata_sub" id="m3">
		<div class="three" id="sub_cata">
			<div class="item"><a href="../food#page_top" ><img src ='../../Changhua/cata/specialty.png'></a><div class="under"></div></div>
			<div class="item"><a href="../life#page_top" ><img src ='../../Changhua/cata/life.png'></a><div class="under"></div></div>
			<div class="item"><a href="../culture#page_top" ><img src ='../../Changhua/cata/culture.png'></a><div class="under"></div></div>
		</div>
	</div>
	
	<div class="cata_master" id="cata4" onclick="<%=ctrl%>.toggleMenu('m4');<%=ctrl%>.bg('cata4')"><a href="javascript:void(0);"><img src ='../../Changhua/cata/icon4.png'><img src ='../../Changhua/cata/sub4.png'></a>
	</div>
	<div class="cata_sub" id="m4">
		<div class="one" id="sub_cata">
			<div class="item"><a href="../top_select#page_top" ><img src ='../../Changhua/cata/mainstar.png'></a><div class="under"></div></div>
		</div>
	</div>
	
	<div class="cata_master" id="cata5" onclick="<%=ctrl%>.toggleMenu('m5');<%=ctrl%>.bg('cata5')"><a href="javascript:void(0);"><img src ='../../Changhua/cata/icon5.png'><img src ='../../Changhua/cata/sub2.png'></a>
	</div>
	<div class="cata_sub" id="m5">
		<div class="two" id="sub_cata">
			<div class="item"><a href="../fun#page_top" ><img src ='../../Changhua/cata/run.png'></a><div class="under"></div></div>
			<div class="item"><a href="../scenery#page_top" ><img src ='../../Changhua/cata/viewpoint.png'></a><div class="under"></div></div>
		</div>
	</div>
	
	<div class="cata_shop" id="cata6"><a href="https://tw.mall.yahoo.com/store/csc" target="_blank"><img src ='../../Changhua/cata/yahoo.png'></a></div>
		
</div>

