<script type='text/javascript'>

window.onload = function cata_init()
{
	var pagename = window.location.pathname;
	
	var page_name = ['/backstage/banner', '/backstage/news', '/backstage/food', '/backstage/life', '/backstage/culture', '/backstage/top_select', '/backstage/fun', '/backstage/change_pw'];
	var page_cata = new Array('m1', 'm2', 'm3', 'm3', 'm3', 'm4', 'm5', 'm6');
	var page_master_cata = new Array('cata1', 'cata2', 'cata3', 'cata3', 'cata3', 'cata4', 'cata5', 'cata6');
	var a = page_name.indexOf(pagename);
	var mastercata_cnow = page_master_cata[a];
	for(var key in page_name){
		var temp;
		var temp_back;
		var p = document.getElementById( page_master_cata[key] );
		if(pagename == page_name[key] )
			{  
				temp='inline';
				temp_back='url(../../Changhua/cata/slider_hover.png)';
				
			}
		else
			{
				temp='none';
				temp_back='';
			}
		p.style.backgroundImage = temp_back;	
	  }
}
function toggleMenu( id )
{
	var temp;
	var display;
	var o=document.getElementById('m3');
	display = o.style.display;
	if(id == 'm3')
		{  
			temp=(display=='none') ? 'inline' : 'none';
			
		}
	else
		{
			temp='none';
		
		}
	
	o.style.display = temp;  

  

}
function bg( id )
{
	var pages = new Array('cata1', 'cata2', 'cata3','cata4','cata5');
	
	for(var key in pages){
	var temp;
	var display;
	var dom = document.getElementById( pages[key] );
	display = dom.style.backgroundImage;
	if(id == pages[key])
		{  
			temp=(display=='') ? 'url("../../Changhua/cata/slider_hover.png")' : 'url("../../Changhua/cata/slider.png")';
			
		}
	else
		{
			temp='';
		
		}
	
	dom.style.backgroundImage = temp;  
  }


}


</script>

<div id='menus'>
	<div class="cata_master" id="cata1"><a href="banner?nType=3#page_top">Banner圖片輪播</a></div>
	
	<div class="cata_master" id="cata2"><a href="news#page_top">村民公告(最新消息)</a></div>

	
	
	<div class="cata_master" id="cata3" onclick='toggleMenu("m3");bg("cata3")' ><a href="javascript:void(0);">百寶村特產</a></div>
	<div class="cata_sub" id="m3" style="display:none">
		<div class="three" id="sub_cata">
			<div class="item"><a href="food#page_top" ><img src ='../../Changhua/cata/specialty.png'></a></div>
			<div class="item"><a href="life#page_top" ><img src ='../../Changhua/cata/life.png'></a></div>
			<div class="item"><a href="culture#page_top" ><img src ='../../Changhua/cata/culture.png'></a></div>
		</div>
	</div>
	
	<div class="cata_master" id="cata4"><a href="top_select#page_top">嚴選好伴手</a></div>	
	<div class="cata_master" id="cata5"><a href="fun#page_top">放送頭</a></div>
	<div class="cata_master" id="cata6"><a href="change_pw#page_top">修改密碼</a></div>
	<div class="cata_master" id="cata7"><a href="logout">登出</a></div>
	
		
</div>


