<script>
function edit(id)
{

	$("#modal-content").load('editor?srvPath=changhua/culture/&ngID='+id); 
	$("#editorModal").modal('show') ;

}
function new_page()
{

	$("#modal-content").load('editor?srvPath=changhua/culture/'); 
	$("#editorModal").modal('show') ;

}
function delete_page(id)
{	  
	if (confirm("你確定要刪除這篇文章?")){
		  var req = {url: 'changhua/changhua/culture/delete/'+id, hasCA: true};
		__.api(req, function(data) {
		  if (data.errCode === 0) {	  
			alert('刪除成功！');
			window.location.reload();		
		  } else {
		  alert(data.message);
		  }
		});
	}
}
</script>
<div id="content_all">
	<a name="page_top"></a>
	<div class="content_scroll">
		<div class="title"> 文化工藝後台管理 </div>
		<br><br>
		<div class="import">
			注意事項：<br>
			1. 標題請填入公告標題<br>
			2. 請先新增文章後再使用編輯的方式新增圖片<br>
			3. 圖片大小請勿超過1MB<br>
			<span style="color:red;font-weight:bold">！！請記得將文章勾選為公開文章</span><br>
		</div>
		<div class='new_page'><input type='button' value='新增文章' onclick="new_page()" ></div><br><br>
		<table border=1 align="center">
		<tr class="form_title">
		<td width="30" >No.</td>
		<td width="450">文章列表</td>
		<td width="100">操作選項</td>
		</tr>
		<% var a=0;
		value.list.forEach(function(item) {
		a+=1;%>
		<tr>
		<td ><%=a%></td>
		<td ><%=item.title%></td>
		<td><input type='button' value='編輯' onclick="edit('<%= item.ngID%>')" ><input type='button' value='刪除' onclick="delete_page('<%= item.ngID%>')" ></td>		
		</tr>
		<%})%>

		</table>
		
		<!-- 彈跳視窗開始 -->
		<div id="editorModal" class="modal fade modalstyle" aria-hidden="true" aria-labelledby="editorModalLabel" role="dialog" data-backdrop="static">
			<div class="modal-dialog modal-lg">
				<div id="modal-content"></div>
			</div>
		</div>
		<!-- 彈跳視窗結束 -->
		
	</div>	
</div>


